/* App.css */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", sans-serif;
  background-color: #f8fafc;
  color: #0f172a;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* full height of viewport */
}

main {
  flex: 1; /* take all remaining space */
  padding: 2rem;
}

.page-wrapper {
  width: 75%;
  margin: 2rem auto;
  padding: 2rem;
}
